.your-photo-div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.your-photo-div-4x6 {
    width: 33%;
    margin-bottom: 16.5%;
    margin-top: 16.5%;
    margin-left: 8.25%;
    margin-right: 8.25%;
}

.your-photo-div > img {
    width: 100%;
}

#container-4x6 {
    width: 100%;
    border: 2px solid rgb(52, 98, 130);
}